
/* -------BASE------ */

* {
  margin: 0;
  padding: 0;
}

/* ------ MAIN HEADER ------ */

.main-header,
.main-header-searching {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.main-header {
  justify-content: space-around;
  border-bottom: solid 1px #eee;
  padding-bottom: 2px;
  flex-flow: wrap;
}

.search,
.cosmos {
  margin-left: 20px;
}

.menu {
  font-size: 20px;
}

.search {
  font-size: 22px;
}

.navbar {
  background-color: transparent;
  border: none;
  padding: 3px 6px 1px 6px;
}

.cosmos,
.main-header-register {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.cosmos {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.cosmos:hover {
  text-decoration: underline;
}

.newspaper-name {
  padding-top: 5px;
}

.main-header-register {
  color: white;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  padding: 8px 15px 7px 15px;
  cursor: pointer;
}

.main-header-register:hover {
  background-color: #326891;
  transition: ease 0.6s;
}
