/* -------BASE------ */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.centered {
  width: 20%;
  margin: 20px auto;
}

.divider {
  border-top: solid 1px #ddd;
  margin-top: 20px;
}

.black-divider {
  border-top: solid 1px black;
  margin-top: 50px;
  width: 7%;
}

.main-header,
.extended {
  width: 100%!important;
}

/* ------ MAIN HEADER ------ */

.footpage div:last-child ul:last-child li:nth-of-type(-n+4) a,
.social-container a.main-header-register,
.footpage div:first-child,
.footpage div:last-child,
.main-header-searching,
.social-container,
#img-container,
.main-header,
.container,
.footpage,
footer ul
 {
  display: flex;
}

.footpage div:last-child ul:last-child li:nth-of-type(-n+4) a,
.social-container a.main-header-register,
.footpage div:first-child,
.main-header-searching,
#img-container,
.main-header,
.container,
footer ul {
  align-items: center;
}

.main-header-searching,
.main-header {
  box-sizing: border-box;
}

.main-header {
  justify-content: space-around;
  flex-flow: nowrap;
  border-bottom: solid 1px #eee;
  padding-bottom: 2px;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.article-main-text,
.inflation-title,
.menu {
  font-size: 20px;
}

.search {
  font-size: 22px;
  margin-left: 20px;
}

.navbar {
  background-color: transparent;
  border: none;
  padding: 3px 6px 1px 6px;
}

.cosmos {
  margin-left: 20px;
}

.main-header-register,
.unlock-articles,
.inflation-text,
.picks-title,
.cosmos {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.inflation-autor,
.picks-links,
.picks-title,
.cosmos {
  font-size: 14px;
}

.cosmos {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.cosmos:hover {
  text-decoration: underline;
}

.newspaper-name {
  padding-top: 5px;
}

.main-header-register {
  color: white;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  padding: 8px 15px 7px 15px;
  cursor: pointer;
}

.main-header-register:hover {
  background-color: #326891;
  transition: ease 0.6s;
}

#img-container,
.container,
footer ul {
justify-content: center;
}

.article-heading {
  margin-top: 100px;
  line-height: 280%;
}

.inflation-title,
.article-title,
.pick-links {
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-social-icons {
  margin-top: 10px;
}

 .social-links:hover i:not(.fa-bookmark, .fa-comment-alt) {
  background-color: #fff;
  border: solid 1px #ddd;
}

.social-links {
  font-size: 15px;
  margin-right: 0;
  margin-right: 15px;
}

.fa-comment-alt {
  position: relative;
  font-size: 25px;
  top: 5px;
}

.fa-bookmark {
  font-size: 20px;
}

.fa-facebook-f {
  padding: 8px 12px;
}

.fa-whatsapp {
  padding: 8px 10px;
}

.fa-twitter,
.fa-share {
  padding: 8px 8px;
}

.fa-facebook-f,
.fa-whatsapp,
.fa-twitter,
.fa-share {
  background-color: #eee;
  border-radius: 50%;
}

.comment-number {
  position: absolute;
  font-size: 10px;
  left: 5px;
  top: 6px;
}

#img-container {
  margin-top: 50px;
  flex-flow: wrap;
}

#img-container .alanImg,
.img-footer {
  width: 60%;
}

.article-main-text,
.img-footer,
.cite {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.img-footer {
  margin-top: 15px;
  font-size: 0.75rem;
  line-height: 1.3rem;
} 

.img-footer,
.img-footer a,
.img-footer a:visited {
  color: #666;
}

.img-footer a:hover {
  text-decoration: none;
}

.cite {
  display: inline;
  color: #888;
  line-height: 1.125rem;
  -webkit-letter-spacing: 0.01em;
  -moz-letter-spacing: 0.01em;
  -ms-letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  font-size: 0.75rem;
}

/* ------ MAIN TEXT------ */

.article-body {
  margin: 50px auto;
  width: 30%;
  color: #333;
  position: relative;
}

.article-reporter {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.article-reporter a,
.inflation-autor,
.pick-links {
  text-decoration: none;
  color: #333;
}

.article-date {
  font-size: 13px;
  font-weight: 500;
}

.article-main-text {
  margin-top: 30px;
  line-height: 160%;
}

.unlock-articles,
.unlock-links {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.unlock-links {
  text-decoration: none;
}

.main-text-links:visited,
.unlock-links:visited,
.main-text-links,
.unlock-links {
  color: #326891;
}

/* ------ Article Aside ------ */

.article-aside-picks {
  width: 200px;
  position: absolute;
  right: -300px;
  top: 1180px;
}

.inflation-title,
.social-links,
.picks-title {
  color: black;
}

.picks-title {
  font-weight: bold;
  margin-bottom: -10px;
}

.picks {
  margin-top: 20px;
}

.picks img {
  float: left;
  margin-right: 10px;
}

.pick-links {
  font-size: 13px;
}

.pick-links:hover,
.picks img:hover {
  text-decoration: underline;
}

/* ------ Main text ------ */

#inflation-title {
  margin: 50px auto 0 auto;
}

#inflation-container,
#inflation-title {
  width: 50%;
}

#inflation-container,
#telescope-container,
.footpage,
footer {
  margin: 0 auto;
}

.inflation-img-container {
  position: relative;
}

#inflation-img {
  width: 945px;
  height: 576px;
  margin-top: 20px;
}

.inflation-text {
  line-height: 17px;
  font-weight: 300;
  width: 220px;
  position: absolute;
  font-size: 12px;
}

.inflation-second-row-text,
.inflation-fourth-row-text,
.inflation-first-row-text,
.inflation-third-row-text {
  top: 200px;
}

.inflation-second-row-text,
.inflation-sixth-row-text {
  left: 240px;
}

.inflation-seventh-row-text,
.inflation-third-row-text {
  left: 480px;
}

.inflation-seventh-row-text,
.inflation-fifth-row-text,
.inflation-sixth-row-text,
.inflation-eight-row-text {
  top: 480px;
}

.inflation-fourth-row-text,
.inflation-eight-row-text {
  left: 720px;
}

.inflation-autor {
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}

#telescope-container {
  width:40%;
}

.footpage div:first-child,
.footpage div:last-child,
.social-container {
  justify-content: space-between;
}

.social-container {
  margin-top:30px;
  flex-flow: wrap;
}

.social-container a.main-header-register {
  padding-left:80px;
  padding-right:80px;
} 


/* ----- Footpage Navigation ----- */ 

.footpage {
  width: 65%;
  padding-bottom: 18px;
  flex-direction: column;
  border-top: 2px solid #e2e2e2;
}

.footpage div:first-child {
  margin-top: 1px;
  border-top: 1px solid #e2e2e2;
}

.footpage div:first-child svg {
  width: 184px;
  height: 44px;
}

.footpage div:first-child a:last-child {
  margin-top: auto;
  margin-bottom: 12px;
  color: #567b95;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.footpage div:last-child {
  margin-top: 10px;
}

.footpage div:last-child ul {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.footpage div:last-child ul:last-child {
  padding-left: 15px;
  border-left: 1px solid rgb(226, 226, 226);
}

.footpage div:last-child ul:last-child svg {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.footpage div:last-child ul:last-child li:nth-of-type(-n+4) a {
  margin-bottom: 15px;
}

.footpage div:last-child ul:last-child li:nth-of-type(4) a {
  margin-bottom: 20px;
}

.footpage div:last-child ul:last-child li:nth-of-type(-n+4) a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}

.footpage div:last-child ul:last-child li:nth-of-type(7) {
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd
}

.footpage div:last-child ul:last-child li a {
  font-size: 11px;
}

.footpage div:last-child li {
  margin-top: 9px;
}

.footpage div:last-child li:first-child {
  margin-top: 13px;
}

.footpage div:last-child ul a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.footpage div:last-child ul a:hover {
  text-decoration: underline;
}

/* ----- Footer -----*/

footer {
  width: 65%;
  padding-top: 9px;
  border-top: 1px solid #ebebeb;
}

footer ul {
  flex-flow: wrap;
  margin-bottom: 35px;
}

footer ul li {
  padding: 0 10px;
}

footer ul li a {
  color: #666;
  font-size: 11px;
}